h1{
    width: 750%;
    height: 400px;
    overflow: hidden;
    margin: 30px;
}
img{
    width: 800px;
    height: 400px;
    transition: 0.2s;
    object-fit: cover;
}
img:hover{
    transform: scale(1.4);
}
h1{
    display: flex;
    width: 800px;
    height: 630px;
}
h1 img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
}
h1 :hover {
    cursor: crosshair;
    width: 800px;
    opacity: 1;
    filter: contrast(100%);
}
head{
    align-items: normal;
}
style{
    align-items: normal;
}
body{
    align-items: center;
}
body{
    background-image: url(Captura\ de\ pantalla\ 2023-08-12\ 195932.png);
    background-size: cover;
    background-repeat: no-repeat;
}
article {
    position: relative;
    width: 250px;
    transition: all .3s ease;
}

article img:first-child {
   box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
   border-radius: 4px;
   object-fit: cover;
   width: 200%;
}
article img:last-child{
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}
article:hover {
    transform:
      perspective(250px)
      rotateX(10deg)
      translateY(-5%)
      translateZ(0);
}
article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}
article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}




















